<header role="banner">
	<!-- checkout chapter 9.27 for adding logo -->
  <!-- <div class="topbar">	
	<div class="topbar-inner">
		<div class="container"> -->
		  <nav role="navigation">	
		    <h3>
			  <%= link_to "Simple Brew", root_path %>
		    </h3>	
	        <ul class="nav">
		      <li class="<%= 'active' if current_page?(root_path) %>">
				<%= link_to "Home", root_path %>
			  </li>
		      <% if signed_in? %>
			  	<li class="<%= 'active' if current_page?(current_user) %>">
			      <%= link_to "Profile", current_user %>
			    </li>
				<li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
				  <%= link_to "Settings", edit_user_path(current_user) %>
				</li>
		      	<li class="<%= 'active' if current_page?(signout_path) %>">
		          <%= link_to "Sign out", signout_path, :method => :delete %>
		        </li>
		      <% else %>
		      	<li class="<%= 'active' if current_page?(signin_path) %>">
		          <%= link_to "Sign in", signin_path %>
		        </li>
		      <% end %>
		    </ul>
		  </nav>
		<!-- </div>
	</div>
  </div> -->
</header>